<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.suteng.shiro.persistence.mapper.CustProjectRelationMapper">
    <delete id="deleteProjectRelationByPersonId">
DELETE FROM cust_project_relation WHERE person_id=#{personId}
</delete>

    <delete id="deleteProjectRelationByProjectIdAndPersonId">
DELETE FROM cust_project_relation WHERE person_id=#{personId} and project_id=#{projectId}
</delete>

    <delete id="deleteProjectRelationByProjectId">
        DELETE FROM cust_project_relation WHERE  project_id=#{projectId}
    </delete>
</mapper>

